# Application URL
APP_URL=http://localhost:3000
# APP_URL=https://alsalam-loerrach.org

# Email configuration (for magic link authentication)
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=587
SMTP_USER=noreply@alsalam-loerrach.com
SMTP_PASS=
EMAIL_FROM=noreply@alsalam-loerrach.com

# Database configuration
DB_NAME=u917895091_alsalam
DB_USER=
DB_PASSWORD=
DB_HOST=srv1805.hstgr.io
DB_PORT=3306